 .jianmian_modal {
  //  width: 1000px;
   margin: 0 auto;
   position: absolute;
   bottom: 50px;
   top: 50px;
   border-radius: 6px;
   .ivu-modal {
     top: 0;
   }
	.ivu-modal-body {
		padding: 0;
	}
	.alert-title {
		background-color: #f7f7f7;
		padding: 8px;
        font-size: 14px;
        border-radius: 3px;
    }
    .alert-desc{
        padding: 5px 10px;
        border-right: 1px solid #e8eaec;
    }
    .ivu-modal-close{
        top: 3px;
    }
    .add_col {
      padding: 5px 0 4px;
    }
    .repayment_table .ivu-table-cell {
      padding: 0 10px;
    }
    .gathering_footer {
      text-align: center;
    }
    .imgtofile {
      position: relative;
      min-height: 350px;
      text-align: center;
    }
    .qr_code_text {
      color: #333;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .error-tip {
      padding-top: 4px;
      color: #ed4014;
      line-height: 1;
    }
}
.huakou {
  .panel-desc-title {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
}
