.border-one {
  border: 1px dashed #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 20px;
  position: relative;
}
.close-icon {
  font-size: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  color: #ed1a26;
}
